<?xml version="1.0"?>

<robot name="kuka_kr300r2500ultra" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find practice)/urdf/kr300r2500ultra_macro.xacro" />
    <xacro:kuka_kr300r2500ultra prefix=""/>

    <link name="world"/>

    <joint name="world__base_link" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

<!--
    <link name="box">
        <visual>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
        </collision>
    </link>

    <joint name="world__box" type="fixed">
        <parent link="world"/>
        <child link="box"/>
        <origin xyz="2 0.25 1" rpy="0 0 0"/>
    </joint>
-->
</robot>
